<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Dashboard — grow.it</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><i class="fab fa-envira"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="btn" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="btn" href="/statistic">Statistic</a>
          </li>
          <li class="nav-item">
            <a class="btn" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link disabled" href="/secret">Secret feature</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron" style="text-align: center; background-image: url({{ url_for('static', filename='images/bg.jpg') }})">
        <div class="post-content">
          <h1>grow.it</h1>
          <p class="lead">Smart fertigation system</p>
        </div>
    </div>

{#    <div class="row justify-content-md-center" style="align-content: center">#}
{#        <div class="col col-md-12 text-center">#}
{#            <h3><span class="label label-default" id="plant">{{ plant }}</span></h3>#}
{#        </div>#}
{#    </div>#}

    <div class="row justify-content-md-center" style="align-content: center">
        <div class="col col-md text-center">
            <h4>Main tank</h4>
            <p>Current PH: <label id="current_ph">{{ current_ph }}</label></p>
            <p>Water level: <label id="water_level">{{ water_level }}</label></p>
            <button type="button" id="pour_off" class="btn btn-outline-danger">Clear the tank</button>
        </div>

        <div class="col col-md text-center">
            <h4>Smart mode</h4>
            <p class="btn-outline-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success {% if fertigator_state %}active{% endif %}">
                    <i class="fab fa-envira"></i>
                    <input type="radio" name="options" id="sys_on" autocomplete="off" {% if fertigator_state %}checked{% endif %}>
                </label>
                <label class="btn btn-outline-danger {% if not fertigator_state %}active{% endif %}">
                    <i class="fas fa-power-off"></i>
                    <input type="radio" name="options" id="sys_off" autocomplete="off" {% if not fertigator_state %}checked{% endif %}>
                </label>
            </p>
            <div class="col col-md text-center">
            <h4>Mixer control</h4>
            <p class="btn-outline-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success {% if mixer_state %}active{% endif %}">
                    <i class="fas fa-sync-alt"></i>
                    <input type="radio" name="options" id="mixer_on" autocomplete="off" {% if mixer_state %}checked{% endif %}>
                </label>
                <label class="btn btn-outline-danger {% if not mixer_state %}active{% endif %}">
                    <i class="fas fa-power-off"></i>
                    <input type="radio" name="options" id="mixer_off" autocomplete="off" {% if not mixer_state %}checked{% endif %}>
                </label>
            </p>
        </div>
        </div>
        <div class="col col-md text-center">
            <h4>Required PH</h4>
            <button type="button" id="dec_ph" class="btn btn-outline-danger"><i class="fas fa-minus"></i></button>
            <span class="label label-default" id="plant_ph">{{ plant_ph }}</span>
            <button type="button" id="inc_ph" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="row justify-content-md-center" style="align-content: center">
        <div class="col col-md-12 text-center">
            <h4><span class="label label-default" id="plant"><h3>Pumps states:</h3></span></h4>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md text-center">
            <div id="tank_pump_in" class="alert alert-{% if not tank_pump_in %}danger{% else %}success{% endif %}" role="alert">Tank in</div>
            <div id="water_pump" class="alert alert-{% if not water_pump %}danger{% else %}success{% endif %}" role="alert">Water</div>
            <div id="acid_pump" class="alert alert-{% if not acid_pump %}danger{% else %}success{% endif %}" role="alert">Acid</div>
        </div>
        <div class="col col-md text-center">
            <div id="tank_pump_out" class="alert alert-{% if not tank_pump_out %}danger{% else %}success{% endif %}" role="alert">Tank out</div>
            <div id="fertilizer_pump" class="alert alert-{% if not fertilizer_pump %}danger{% else %}success{% endif %}" role="alert">Fertilizer</div>
            <div id="alkali_pump" class="alert alert-{% if not alkali_pump %}danger{% else %}success{% endif %}" role="alert">Alkali</div>
        </div>
    </div>

    <footer class="footer fixed-bottom">
      <div style="text-align: center; margin-bottom: 15px"></div>
    </footer>
  </div>
  <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>

</html>
