<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <title>Fertigation system</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Fertigation system</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistic">Statistic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/secret">Secret feature</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron" style="text-align: center;">
      <h1>Welcome back!</h1>
      <p class="lead">Here will be described the API</p>
    </div>

    <div class="row">
        <div class="col">
            <h4>Control water level:</h4>
            <p>{{ water_level }}</p>
            <p>
                <button type="button" id="fill" class="btn btn-outline-success">Fill the tank</button>
                <button type="button" id="pour_off" class="btn btn-outline-danger">Clear the tank</button>
            </p>
        </div>

        <div class="col">
            <h4>Mixer control:</h4>
                <div class="btn-outline-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-success {% if mixer_state %}active{% endif %}">
                        <input type="radio" name="options" id="mixer_on" autocomplete="off" {% if mixer_state %}checked{% endif %}> Turn on the mixer
                    </label>
                    <label class="btn btn-outline-danger {% if not mixer_state %}active{% endif %}">
                        <input type="radio" name="options" id="mixer_off" autocomplete="off" {% if not mixer_state %}checked{% endif %}> Turn off the mixer
                    </label>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Change PH</h4>
            <p>
              <button type="button" id="dec_ph" class="btn btn-outline-danger"><i class="fas fa-minus"></i></button>
              {{ ph_level }}
              <button type="button" id="inc_ph" class="btn btn-outline-success"><i class="fas fa-plus"></i></button>
            </p>
        </div>

        <div class="col">
            <h4>Main power supply</h4>
            <p>{{ system_status }}</p>
            <p>
                <button type="button" id="sys_on" class="btn btn-outline-success">Turn off</button>
                <button type="button" id="sys_off" class="btn btn-outline-danger">Turn on</button>
            </p>
        </div>
      </div>
    <footer class="footer">
      <div style="text-align: center;">2018</div>
    </footer>
  </div>
  <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>

</html>
